# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

# Create DataFrame
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print("Original DataFrame:")
print(df)


# Set the index to be the first column
df.set_index('A',inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0   4  42  58  95
1   3  54   3  83
2   4  33  34  31
3  56  38  14  49
4  78  75  45  13
5   3  96  46  70
DataFrame with new index:
     B   C   D
A
4   42  58  95
3   54   3  83
4   33  34  31
56  38  14  49
78  75  45  13
3   96  46  70

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)), columns=['A','B','C'], index=['X','Y','Z'])
print(df)

print(f"Element at row 'Y' and column 'B'")

    A   B   C
X  46  54  57
Y  13  48  92
Z  96  80  26

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [16]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)

df['D'] = df['A'] * df['B']
print(df)

    A   B   C
0  94  56  95
1  69   1  37
2  78  90   8
3  94  15  50
4  48  10  89
    A   B   C     D
0  94  56  95  5264
1  69   1  37    69
2  78  90   8  7020
3  94  15  50  1410
4  48  10  89   480

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [18]:
df = pd.DataFrame(np.random.randint(1,10,size=(4,3)), columns=['A','B','C'])
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum")
print(row_sum)
print("Colum-wise sum")
print(column_sum)

   A  B  C
0  5  6  4
1  9  6  5
2  2  7  4
3  5  1  8
Row-wise sum
0    15
1    20
2    13
3    14
dtype: int64
Colum-wise sum
A    21
B    20
C    21
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [28]:
# Make a dataframe
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)

# make some NaN value in df
df.iloc[0,2] = np.nan
df.iloc[1,2] = np.nan
df.iloc[2,0] = np.nan
df.iloc[3,1] = np.nan

# new df  with NaN value
print(df)

# change the value of NaN with an average value of df
df.fillna(df.mean(), inplace=True)
print("Data frame with NaN value filled:")
print(df)

    A   B   C
0  18  75  26
1  40  35   1
2  74  10  25
3  55  13  39
4  17  73  17
      A     B     C
0  18.0  75.0   NaN
1  40.0  35.0   NaN
2   NaN  10.0  25.0
3  55.0   NaN  39.0
4  17.0  73.0  17.0
Data frame with NaN value filled:
      A      B     C
0  18.0  75.00  27.0
1  40.0  35.00  27.0
2  32.5  10.00  25.0
3  55.0  48.25  39.0
4  17.0  73.00  17.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
## Make new df
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN value
df.iloc[1,0] = np.nan
df.iloc[0,2] = np.nan
df.iloc[2,1] = np.nan
print("DataFrame after Nan value added")
print(df)

# Drop row with NaN values
df.dropna(inplace=True)
print("DataFrame without Nan value")
print(df)

Original DataFrame:
    A   B   C   D
0  26  86  11  30
1  27   9  38  93
2  94  10  37  63
3  19  12  46  40
4  61  50  48  80
5  50  44  96  72
DataFrame after Nan value added
      A     B     C   D
0  26.0  86.0   NaN  30
1   NaN   9.0  38.0  93
2  94.0   NaN  37.0  63
3  19.0  12.0  46.0  40
4  61.0  50.0  48.0  80
5  50.0  44.0  96.0  72
DataFrame without Nan value
      A     B     C   D
3  19.0  12.0  46.0  40
4  61.0  50.0  48.0  80
5  50.0  44.0  96.0  72

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [15]:
# Create a Pandas DataFrame with 2 colummns : 'Category' and 'Value'. 
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size=10), 'Value': np.random.randint(1,100,size=10)})
print("Original DataFrame")
print(df)

# Grouping dataFrame by category
grouped_sum = df.groupby('Category')['Value'].agg(['sum','mean'])
print("Grouped DataFrame")
print(grouped_sum)

Original DataFrame
  Category  Value
0        C     13
1        A     46
2        C      8
3        C     76
4        A     17
5        A     36
6        C     83
7        C     42
8        B     89
9        B     52
Grouped DataFrame
          sum  mean
Category
A          99  33.0
B         141  70.5
C         222  44.4

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [23]:
## Make DataFrame
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size=10), 'Sales': np.random.randint(1,100,size=10)})
print("DataFrame Originnal:")
print(df)

## Grouping DataFrame and compute
grouped_cat = df.groupby('Category')['Sales'].sum()
print("Total Sales for each category")
print(grouped_cat)

DataFrame Originnal:
  Category  Sales
0        B     76
1        A     56
2        B     98
3        B     28
4        C     51
5        C     70
6        A     73
7        C     29
8        B      1
9        C     48
Total Sales for each category
Category
A    129
B    203
C    198
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [28]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Value':np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Value':np.random.randint(1,100,size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1,df2,on = 'Key')
print("Merged DataFrame:")
print(merged)

merged['sum'] = merged['Value_x'] +merged['Value_y']
print(merged)

DataFrame 1:
  Key  Value
0   A     34
1   B     66
2   C     39
3   D      4
DataFrame 2:
  Key  Value
0   A     27
1   B     16
2   C     78
3   E      7
Merged DataFrame:
  Key  Value_x  Value_y
0   A       34       27
1   B       66       16
2   C       39       78
  Key  Value_x  Value_y  sum
0   A       34       27   61
1   B       66       16   82
2   C       39       78  117

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [35]:
df1 = pd.DataFrame({'A':np.random.randint(1,100,size=5),'B':np.random.randint(1,100,size=5)})
df2 = pd.DataFrame({'C':np.random.randint(1,100,size=5),'D':np.random.randint(1,100,size=5)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrame along the rows
"""concate_rows = pd.concat([df1,df2],axis=0)
print("Concatenate Dataframe (Rows):")
print(concate_rows)"""

# Concatenate the DataFrame along the Columns
concate_columns = pd.concat([df1,df2],axis=1)
print("Concatenate DataFrame (Columne):")
print(concate_columns)

DataFrame 1:
    A   B
0  74  38
1  47   7
2  52  81
3  15   2
4  13  27
DataFrame 2:
    C   D
0  62  50
1  23  89
2   2  78
3   7  80
4  74  30
Concatenate DataFrame (Columne):
    A   B   C   D
0  74  38  62  50
1  47   7  23  89
2  52  81   2  78
3  15   2   7  80
4  13  27  74  30

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [38]:
date_rng = pd.date_range(start='2022-01-01',end='2022-12-31',freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(1,100,size=len(date_rng))
df.set_index('date',inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly Mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    69
2022-01-02    70
2022-01-03    21
2022-01-04    35
2022-01-05    95
...          ...
2022-12-27    46
2022-12-28    79
2022-12-29    51
2022-12-30    11
2022-12-31    40

[365 rows x 1 columns]
Monthly Mean DataFrame:
                 data
date
2022-01-31  46.387097
2022-02-28  48.500000
2022-03-31  45.322581
2022-04-30  52.266667
2022-05-31  36.000000
2022-06-30  48.600000
2022-07-31  54.258065
2022-08-31  52.806452
2022-09-30  51.766667
2022-10-31  49.387097
2022-11-30  52.433333
2022-12-31  54.483871

C:\Users\MyBook Z Series\AppData\Local\Temp\ipykernel_15012\735853481.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [45]:
date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame({'date':date_rng,'Value':np.random.randint(1,100,size=len(date_rng))})
df.set_index('date',inplace=True)
print("DataFrame Original:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame")
print(rolling_mean)

DataFrame Original:
            Value
date
2021-01-01     38
2021-01-02     24
2021-01-03     30
2021-01-04     58
2021-01-05     84
...           ...
2021-12-27     84
2021-12-28     55
2021-12-29     25
2021-12-30     53
2021-12-31      9

[365 rows x 1 columns]
Rolling mean DataFrame
                Value
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  43.571429
2021-12-28  42.000000
2021-12-29  44.142857
2021-12-30  39.857143
2021-12-31  39.285714

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [52]:
arrays = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['Value1','Value2','Value3'])
print("DataFrame MultiIndex Original:")
print(df)

# Basic Indexing and slicing operation
print("Indexing at Category 'A': ")
print(df.loc['A'])

print("Slicing at Category 'A' and SubCategory 'two': ")
print(df.loc[('A','one')])

DataFrame MultiIndex Original:
                      Value1  Value2  Value3
Category SubCategory
A        one              95      27       3
         two              83       5      18
B        one              12      56       2
         two              11      46      53
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              95      27       3
two              83       5      18
Slicing at Category 'A' and SubCategory 'two':
Value1    95
Value2    27
Value3     3
Name: (A, one), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [66]:
arrays = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays,names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,4)),index=index,columns=['Value1','Value2','Value3','Value4'])
print("Original DataFrame")
print(df)
print()

sum_values = df.groupby(['Category']).sum()
sum_sub = df.groupby(['SubCategory']).sum()
print("Sum of Categories")
print(sum_values)
print("Sum of SubCategory")
print(sum_sub)

Original DataFrame
                      Value1  Value2  Value3  Value4
Category SubCategory
A        one               9       2      38      20
         two              90       9      19      75
B        one              97      54       8      26
         two               8      68      97      48

Sum of Categories
          Value1  Value2  Value3  Value4
Category
A             99      11      57      95
B            105     122     105      74
Sum of SubCategory
             Value1  Value2  Value3  Value4
SubCategory
one             106      56      46      46
two              98      77     116     123

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [93]:
date_rng = pd.date_range(start ='2022-01-01',end='2022-12-31',freq='D')
df = pd.DataFrame({'Date':np.random.choice(date_rng,size=20),'Category':np.random.choice(['A','B','C'],size=20),'Value':np.random.randint(1,100,size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date',columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-25        C     87
1  2022-11-09        A     68
2  2022-05-14        C     51
3  2022-11-13        B     34
4  2022-09-02        A     83
5  2022-07-10        A      5
6  2022-02-18        B     98
7  2022-03-25        B      8
8  2022-10-12        A     74
9  2022-01-27        A     27
10 2022-11-30        C     79
11 2022-03-03        C     27
12 2022-03-13        B     72
13 2022-12-13        A     10
14 2022-06-20        C     57
15 2022-11-05        C      3
16 2022-07-12        B     62
17 2022-09-18        B     66
18 2022-09-13        A     57
19 2022-10-15        C     45
Pivot Table:
Category       A     B     C
Date
2022-01-25   NaN   NaN  87.0
2022-01-27  27.0   NaN   NaN
2022-02-18   NaN  98.0   NaN
2022-03-03   NaN   NaN  27.0
2022-03-13   NaN  72.0   NaN
2022-03-25   NaN   8.0   NaN
2022-05-14   NaN   NaN  51.0
2022-06-20   NaN   NaN  57.0
2022-07-10   5.0   NaN   NaN
2022-07-12   NaN  62.0   NaN
2022-09-02  83.0   NaN   NaN
2022-09-13  57.0   NaN   NaN
2022-09-18   NaN  66.0   NaN
2022-10-12  74.0   NaN   NaN
2022-10-15   NaN   NaN  45.0
2022-11-05   NaN   NaN   3.0
2022-11-09  68.0   NaN   NaN
2022-11-13   NaN  34.0   NaN
2022-11-30   NaN   NaN  79.0
2022-12-13  10.0   NaN   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [95]:
df = pd.DataFrame({'Year':np.random.choice([2020,2021,2022],size=12),'Quarter':np.random.choice(['Q1','Q2','Q3','Q4'],size=12),'Revenue':np.random.randint(1,100,size=12)})
print("DataFrame Original:")
print(df)

pivot_table = df.pivot_table(values='Revenue',index='Year',columns='Quarter',aggfunc='mean')
print("Pivot Table")
print(pivot_table)

DataFrame Original:
    Year Quarter  Revenue
0   2022      Q1       36
1   2021      Q4       24
2   2022      Q1       31
3   2022      Q2       55
4   2020      Q4       24
5   2022      Q2       28
6   2020      Q1       34
7   2022      Q4       37
8   2022      Q3       70
9   2021      Q2       25
10  2021      Q1        4
11  2020      Q2       60
Pivot Table
Quarter    Q1    Q2    Q3    Q4
Year
2020     34.0  60.0   NaN  24.0
2021      4.0  25.0   NaN  24.0
2022     33.5  41.5  70.0  37.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [97]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print("Original DataFrame:")
print(df)

df_double = df.applymap(lambda x:x*2)
print("DataFrame after apply function that double every value:")
print(df_double)

Original DataFrame:
    A   B   C
0  80   2  60
1   5  88  17
2  36  91  37
3  35  47  26
4  48  69  34
DataFrame after apply function that double every value:
     A    B    C
0  160    4  120
1   10  176   34
2   72  182   74
3   70   94   52
4   96  138   68

C:\Users\MyBook Z Series\AppData\Local\Temp\ipykernel_15012\1702859026.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_double = df.applymap(lambda x:x*2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [100]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
print("Original DataFrame:")
print(df)

df['sum'] = df.apply(lambda row:row.sum(),axis=1)
print("DataFrame with sum column:")
print(df)

Original DataFrame:
    A   B   C
0  75  89  12
1  84  78  16
2  95  90  38
3  54  53  87
4  83  36  56
5   1  61  41
DataFrame with sum column:
    A   B   C  sum
0  75  89  12  176
1  84  78  16  178
2  95  90  38  223
3  54  53  87  194
4  83  36  56  175
5   1  61  41  103

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [102]:
# create a pandas series with 5 random text strings
text_data = pd.Series(['banana','apple','orange','mango','strawberry'])
print("Original Series")
print(text_data)
print()

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase series:")
print(uppercase_data)

Original Series
0        banana
1         apple
2        orange
3         mango
4    strawberry
dtype: object

Uppercase series:
0        BANANA
1         APPLE
2        ORANGE
3         MANGO
4    STRAWBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [105]:
text_series = pd.Series(['Deka','Abu','Daffa','Yudha','Sean'])
print("Original Text Series")
print(text_series)

extract = text_series[0:3]
print(extract)

Original Text Series
0     Deka
1      Abu
2    Daffa
3    Yudha
4     Sean
dtype: object
0     Deka
1      Abu
2    Daffa
dtype: object