### SQL And SQLite
SQL (Structured Qurey Language) is a standard language for managing and manipulatng relational databases. SQLite is self-contained, serverless, and zero-configuration databse engine that is  widely used for embedded database system. In this lesson, We will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operation.

In [1]:
import sqlite3

In [2]:
## Connect to a SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [6]:
## Create Table
cursor.execute('''
Create Table If Not Exists employees(
  id Integer Primary Key,
  name Text Not Null,
  age Integer,
  department text
  )
''')

## Commit The Change
connection.commit()

In [7]:
cursor.execute('''
Select * From employees
''')

In [8]:
cursor.execute('''
INSERT INTO employees(name,age,department)
               values('Deka',21,'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees(name,age,department)
values('Abu',20,'Software Engineer')
''')

cursor.execute('''
INSERT INTO employees(name,age,department)
               values('Daffa',21,'Entepreneur')
''')

connection.commit()

In [9]:
## Query the data from the table
cursor.execute('select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

(1, 'Deka', 21, 'Data Scientist')
(2, 'Abu', 20, 'Software Engineer')
(3, 'Daffa', 21, 'Entepreneur')

In [10]:
## Update data on the table
cursor.execute('''
UPDATE employees
set age=20
where name="Deka"
''')

connection.commit()

In [11]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, 'Deka', 20, 'Data Scientist')
(2, 'Abu', 20, 'Software Engineer')
(3, 'Daffa', 21, 'Entepreneur')

In [12]:
## Delete the data from the table
cursor.execute('''
delete from employees
               where name="Abu"
''')

connection.commit()

In [13]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, 'Deka', 20, 'Data Scientist')
(3, 'Daffa', 21, 'Entepreneur')

In [16]:
## Working with sales Data
# Connect to an SQLite databse
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT)
''')

## Insert data into the sales table
sales_data = [
  ('2023-01-01','Product1',100,'North'),
  ('2023-01-02','Product2',200,'South'),
  ('2023-01-03','Product3',150,'East'),
  ('2023-01-04','Product4',250,'West'),
  ('2023-01-05','Product5',300,'North')
] 

cursor.executemany('''
INSERT INTO sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [18]:
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
  print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 150, 'East')
(4, '2023-01-04', 'Product4', 250, 'West')
(5, '2023-01-05', 'Product5', 300, 'North')

In [19]:
## close connection
connection.close()