# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [2]:
import sqlite3

def create_database():
  conn = sqlite3.connect('test.db')
  conn.close()
  print("Database Created and Succesfully Connected")

# Test the function
create_database()

Database Created and Succesfully Connected

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [9]:
def create_employee():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
  CREATE TABLE IF NOT EXISTS employees(
                  id PRIMARY KEY,
                  name TEXT,
                  age INTEGER,
                  department TEXT
                  )
  ''')
  conn.commit()
  conn.close()
  print("Table employees created successfuly.")

create_employee()

Table employees created successfuly.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [10]:
def insert_employee(id,name,age,department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
                insert into employees (id,name,age,department)
                values(?,?,?,?)''',(id,name,age,department))
  conn.commit()
  conn.close()
  print("Employee Inserted Succesfully")

# test the function
insert_employee(222313233,"deka",21,"Artificial Intelegents")

Employee Inserted Succesfully

2. Insert at least 5 different employees into the `employees` table.

In [48]:
insert_employee(777,"Satria",23,"Software development")
insert_employee(888,"Rifqi",23,"Software Development")
insert_employee(999,"Winni",20,"Research department")
insert_employee(333,"Safira",20,"Design")
insert_employee(444,"Muhlis",21,"Artificial Intelegents")

IntegrityError: UNIQUE constraint failed: employees.id

In [17]:
insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 35, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

Employee Inserted Succesfully
Employee Inserted Succesfully
Employee Inserted Succesfully
Employee Inserted Succesfully

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [4]:
def display_all():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('select * from employees')
  rows = cursor.fetchall()
  for row in rows:
    print(row)
  conn.close()

display_all()

(222313233, 'deka', 21, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(888, 'Rifqi', 23, 'Software Development')
(999, 'Winni', 20, 'Research department')
(333, 'Safira', 20, 'Artificial Intelegents')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

2. Write a Python function to fetch and display all employees from a specific department.

In [2]:
def display_department(department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM employees WHERE department = ?',(department,))
  rows = cursor.fetchall()
  for row in rows:
    print(row)
  conn.close()

display_department('HR')

NameError: name 'sqlite3' is not defined

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [24]:
def update_employee_department(employee_id,new_department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
    UPDATE employees
    SET department = ?
    WHERE id = ?
    ''',(new_department,employee_id))
  conn.commit()
  conn.close()
  print("employee depatment update successfully")

update_employee_department(444,'Desain')

employee depatment update successfully

2. Update the department of at least 2 employees and display the updated records.

In [34]:
update_employee_department(333,'Artificial Intelegents')
update_employee_department(777,'Research department')
display_department('Artificial Intelegents')
display_department('Research department')

employee depatment update successfully
employee depatment update successfully
(222313233, 'deka', 21, 'Artificial Intelegents')
(333, 'Safira', 20, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(999, 'Winni', 20, 'Research department')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [35]:
def delete_employee_by_id(employee_id):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''DELETE FROM employees
                 WHERE id = ?''',(employee_id,))
  conn.commit()
  conn.close()
  print("Employee deleted successfully.")

2. Delete at least 1 employee and display the remaining records.

In [36]:
display_all()
delete_employee_by_id(444)
display_all()

(222313233, 'deka', 21, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(888, 'Rifqi', 23, 'Software Development')
(999, 'Winni', 20, 'Research department')
(333, 'Safira', 20, 'Artificial Intelegents')
(444, 'Muhlis', 21, 'Desain')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
Employee deleted successfully.
(222313233, 'deka', 21, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(888, 'Rifqi', 23, 'Software Development')
(999, 'Winni', 20, 'Research department')
(333, 'Safira', 20, 'Artificial Intelegents')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [39]:
def employee_older_than(age):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''SELECT * FROM employees WHERE age > ?''',(age,))
  rows = cursor.fetchall()
  for row in rows:
    print(row)
  conn.close()
  print("employee displayed successfully")

employee_older_than(20)

(222313233, 'deka', 21, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(888, 'Rifqi', 23, 'Software Development')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
employee displayed successfully

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [47]:
def employe_name(start_letter):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(start_letter + '%',))
  rows = cursor.fetchall()
  for row in rows:
    print(row)
  conn.close()

employe_name('d')

(222313233, 'deka', 21, 'Artificial Intelegents')
(4, 'David', 35, 'Marketing')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [6]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

All employees inserted successfully.

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [7]:
def update_multiple_employees_ages(update):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  try:
    cursor.executemany('''
      UPDATE employees
      SET age = ?
      WHERE id = ?
      ''',update)
    conn.commit()
    print("All employe ages updated successfully.")
  except Exception as e:
    conn.rollback()
    print("Error occured, transaction rolled back")
    print(e)
  finally:
    conn.close()

display_all()
updates = [
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)
display_all()

(222313233, 'deka', 21, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(888, 'Rifqi', 23, 'Software Development')
(999, 'Winni', 20, 'Research department')
(333, 'Safira', 20, 'Artificial Intelegents')
(2, 'Bob', 26, 'Engineering')
(3, 'Charlie', 33, 'Sales')
(4, 'David', 41, 'Marketing')
(5, 'Eve', 23, 'HR')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')
All employe ages updated successfully.
(222313233, 'deka', 21, 'Artificial Intelegents')
(777, 'Satria', 23, 'Research department')
(888, 'Rifqi', 23, 'Software Development')
(999, 'Winni', 20, 'Research department')
(333, 'Safira', 20, 'Artificial Intelegents')
(2, 'Bob', 26, 'Engineering')
(3, 'Charlie', 33, 'Sales')
(4, 'David', 41, 'Marketing')
(5, 'Eve', 23, 'HR')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [13]:
def create_department_table():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('''
                CREATE TABLE IF NOT EXISTS departments (
                  id INTEGER PRIMARY KEY,
                  name TEXT NOT NULL)
                  ''')
  conn.commit()
  conn.close()
  print("Department table created successfully.")

create_department_table()

Department table created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [14]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        PRAGMA foreign_keys=off;
    ''')
    cursor.execute('''
        BEGIN TRANSACTION;
    ''')
    cursor.execute('''
        ALTER TABLE employees RENAME TO old_employees;
    ''')
    cursor.execute('''
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
    ''')
    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
    ''')
    cursor.execute('''
        DROP TABLE old_employees;
    ''')
    cursor.execute('''
        DROP TABLE department;
    ''')
    cursor.execute('''
        COMMIT;
    ''')
    cursor.execute('''
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key()

Table 'employees' modified successfully.

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [17]:
def insert_department_and_employee(department_id,department_name,employee_id,name,age,department):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  try:
    cursor.execute('''
                      INSERT INTO departments (id,name)
                      VALUES (?,?)''',(department_id,department_name))
    cursor.execute('''
                      INSERT INTO employees(id,name,age,department,department_id)
                      VALUES (?,?,?,?,?)
                      ''',(employee_id,name,age,department,department_id))
    conn.commit()
    print("Department and Employee inserted Successfully.")
  except Exception as e:
    conn.rollback()
    print("Error occured, Transaction rolled back")
    print(e)
  finally:
    conn.close()

insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and Employee inserted Successfully.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [19]:
def create_index_on_name():
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  cursor.execute('CREATE INDEX idx_name ON employees(name)')
  conn.commit()
  conn.close()
  print("Index on 'name' column created successfully.")

# test the function
create_index_on_name()

Index on 'name' column created successfully.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [27]:
import time

def fetch_employees_name_starts_with_performance(letter):
  conn = sqlite3.connect('test.db')
  cursor = conn.cursor()
  start_time = time.time()
  cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(letter + '%',))
  records = cursor.fetchall()
  end_time = time.time()
  conn.close()
  print("Time taken: {} seconds".format(end_time - start_time))
  for record in records:
    print(record)

# Test the function with the  index
fetch_employees_name_starts_with_performance('S')

Time taken: 0.0010027885437011719 seconds
(333, 'Safira', 20, 'Artificial Intelegents', None)
(777, 'Satria', 23, 'Research department', None)

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [28]:
import shutil

def backup_database():
  shutil.copy('test.db','backup.db')
  print("Database backend up successfully")

backup_database()

Database backend up successfully

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [29]:
def restore_database():
  shutil.copy('backup.db','test.db')
  print('Database restored successfully.')

restore_database()

Database restored successfully.