# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets
Create a set with the first 10 positive integers. Print the set

In [ ]:
s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements
Add the number 11 to the set created in assignment 1. Then remove the number 1 from the set. print the modified set

In [8]:
s.add(11)
s.discard(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations
Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the result of union, intersection, difference, and symmetric difference operations on these sets.

In [10]:
set1 = {x for x in range(1,6)}
set2 = {x for x in range(1,11) if x%2==0}
print(f"set of first 5 positive integers: {set1}")
print(f"set of first 5 even integers: {set2}")
print(f"Union set1 and set2: {set1.union(set2)}")
print(f"set of intersect between set1 and set2 {set1.intersection(set2)}")
print(f"set of difference set2 to set2: {set1.difference(set2)}")
print(f"set of symetric_difference between set1 and set2: {set1.symmetric_difference(set2)}")

set of first 5 positive integers: {1, 2, 3, 4, 5}
set of first 5 even integers: {2, 4, 6, 8, 10}
Union set1 and set2: {1, 2, 3, 4, 5, 6, 8, 10}
set of intersect between set1 and set2 {2, 4}
set of difference set2 to set2: {1, 3, 5}
set of symetric_difference between set1 and set2: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions
Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [ ]:
s = {x**2 for x in range(1,11)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets
Create a new set containing only the even numbers from the set created in Assignment 1 using set comprehension. Print the new set.

In [13]:
s = set([x for x in range(2,11,2)])
print(s)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods
Create a set with duplicate elements and remove the duplicate using set methods. Print the modified set.

In [15]:
s = set({1,2,2,3,3,4,5,6,6,7,8,9})
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 7: Subsets and Supersets
Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the result.

In [16]:
set1 = set(range(1,6))
set2 = set(range(1,4))
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

### Assignment 8: Frozen Set
Create a Frozen set with the first 5 possitive integers. Print the Frozenset.

In [21]:
s = set(range(1,6))
my_forzenset = frozenset(s)
print(my_forzenset)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and list convertion
Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [26]:
s = set(range(1,6))
print(s)
lst = list(s)
print(lst)
lst.append(6)
print(lst)
s = set(lst)
print(s)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary
Create a dictionary with set keys and integers values. Print the dictionary.

In [33]:
d = {
  frozenset({1,2}):3,
  frozenset({3,4}):4,
  frozenset({5,6}):5
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 4, frozenset({5, 6}): 5}

### Assignment 11: Iterating Over Sets
Create a set and iterate over the elements, Printing each element.

In [34]:
s = set(range(10))
for x in s:
  print(x)

0
1
2
3
4
5
6
7
8
9

### Assignment 12: Removing Elements from Sets
Create a set and remove elements from it until it is empty. Print the set after each removal.

In [48]:
set2 = set(range(1,11))

for i in range(len(set2)+1):
  set2.discard(i)
  print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [50]:
set11 = set(range(1,12))
while set11:
  set11.pop()
  print(set11)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{3, 4, 5, 6, 7, 8, 9, 10, 11}
{4, 5, 6, 7, 8, 9, 10, 11}
{5, 6, 7, 8, 9, 10, 11}
{6, 7, 8, 9, 10, 11}
{7, 8, 9, 10, 11}
{8, 9, 10, 11}
{9, 10, 11}
{10, 11}
{11}
set()

### Assignment 13 : Set Symetric Difference Update
Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [52]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1.symmetric_difference(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

### Assignment 14: Set Membership Testing
Create a set and test if certain elements are present in the set. Print the result.

In [60]:
s = set(range(10))
print(s)
print(3 not in s)
print(9 in s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
False
True

### Assignment 15: Set of Tuples
Create a set containing tuples, where each tuple contains two elements. Print the set.

In [61]:
s = {(1,2),(2,3),(3,4)}
print(s)

{(2, 3), (1, 2), (3, 4)}