# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

In [5]:
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements
Print the first, middle , and last elements of  the tuple created in Assignment 1

In [9]:
print(f"The first element of tuple is {tup[0]}")
print(f"The middle element of tuple is {tup[len(tup)//2]}")
print(f"The last element of tuple is {tup[-1]}")

The first element of tuple is 1
The middle element of tuple is 6
The last element of tuple is 10

### Assignment 3: Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [18]:
print(f"The first three elements: {tup[:3]}")
print(f"The last three elements: {tup[-3:]}")
print(f"The elements from index 2 to 5: {tup[2:6]}")

The first three elements: (1, 2, 3)
The last three elements: (8, 9, 10)
The elements from index 2 to 5: (3, 4, 5, 6)

### Assignement 4: Nested Tuples
Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column

In [32]:
nested_tpl = (
  (1,2,3),
  (4,5,6),
  (7,8,9)
)
print("The Matrix:")
for row in nested_tpl:
  print(row)
print()
print("Element at the second row and the third row:")
for row in nested_tpl[1:3]:
  print(row)
print()
print("Element at the second and third row in one tuple:")
for row in nested_tpl[1:3]:
  for element in row:
    print(element, end=", ")
print()
print(f"element at the second row and third column: {nested_tpl[1][2]}")

The Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

Element at the second row and the third row:
(4, 5, 6)
(7, 8, 9)

Element at the second and third row in one tuple:
4, 5, 6, 7, 8, 9,
element at the second row and third column: 6

### Assignment 5: Tuple Concatenation
Concatenate two tuples: (1,2,3) and (4,5,6). Print the resulting tuple.

In [33]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concate_tpl = tpl1 + tpl2
print(concate_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods
Create a tuple with duplicate elements and count the occurences of an element. Find the index of the first occurence of an element in the tuple.

In [35]:
tpl = (1,2,3,4,5,6,3,7,8,9)
print(tpl)
print(f"number of occurence: {tpl.count(3)}")
print(f"index of the first occurence: {tpl.index(3)}")

(1, 2, 3, 4, 5, 6, 3, 7, 8, 9)
number of occurence: 2
index of the first occurence: 2

### Assignment 7: Unpacking Tuples
Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [38]:
tpl = (1,"Deka",3.14,True,False)
a,b,c,d,e = tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
Deka
3.14
True
False

### Assignment 8: Tuple Conversion
Convert a list of the first 5 positive integers to a tuple.

In [42]:
lst = [x for x in range(1,11)]
print(lst)
tpl = tuple(lst[0:5])
print(tpl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples
Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples

In [43]:
nested_tpl = (
  (1,2,3),
  (4,5,6),
  (7,8,9)
)

print("Tuple of Tuples:")
for tpl in nested_tpl:
  print(tpl)

Tuple of Tuples:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List
Create a tuple with the first 5 positive integers. Convert it to list, append the number 6, and covert it back to tuple. Print the resulting tuple.

In [49]:
tpl = tuple(range(1,6))
tpl = list(tpl)
tpl.append(6)
tpl = tuple(tpl)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignmenrt 11: Tuple and String
Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [53]:
tpl = ("D","e","k","a")
name = ""
for i in tpl:
  name+=i
print(name)

Deka

In [55]:
name = "Deka"
tpl = tuple(name)
joined_tpl = "".join(tpl)
print(joined_tpl)

Deka

### Assignment 12: Tuple and Dictionary
Create a dictionary with tuple keys and integer value. Print the dictionary.

In [57]:
students = {
  ("a","b"): 1,
  ("c","d"): 2,
  ("e","f"): 3
}

print(students)

{('a', 'b'): 1, ('c', 'd'): 2, ('e', 'f'): 3}

### Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.

In [58]:
tpl = (
  (1,2,3),
  (4,5,6),
  (7,8,9)
)
for sub_tpl in tpl:
  for element in sub_tpl:
    print(element)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [59]:
tpl = (1,2,3,4,5,3,6,7,6,8,9)
st = set(tpl)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. print the results for a sample tuple.

In [62]:
tpl = (2,4,6,8,10)
def Tuple_function(t):
  minimum = t[0]
  maximum = t[-1]
  sum = 0
  for i in t:
    sum += i
  print(f"miminum element: {minimum}")
  print(f"maximum element: {maximum}")
  print(f"sum of the elements: {sum}")
Tuple_function(tpl)

miminum element: 2
maximum element: 10
sum of the elements: 30